* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b0eff1c5;
  height: 100vh;
}

/*cabeça do cod*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;

  position: fixed;
  width: 100%;
  background-color: #c7eef0c5;
}

/*tag de paragrafo*/
p {
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: inset;

  font-family: "Roboto Mono";
  font-size: 25px;
  width: 5%;
  color: rgb(0, 0, 0);
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 2px solid rgb(168, 1, 1);
  background-color: transparent;
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

#form-habits {
  display: flex;

  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  color: #000000;

  text-align: center;
}

input {
  -webkit-appearance: none;
  appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #252525;
  border-radius: 17px;

  background: #252525;
}

input:checked {
  background: rgb(84, 69, 151);
  border: 3px solid rgb(42, 34, 77);
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}
